div{
    background-color: #333333;
    height: 20vh;

    &__div{
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}