<header class="header">
    <div class="header_title">
        <img class="header-img" src="https://cdn.discordapp.com/attachments/756312236904939544/1092036684364906558/S.png">
        <h1 class="header-h1"> Shopéame! </h1>
    </div>
    <nav class="nav">
        <a class="nav-a" routerLink="/"> <img class="nav-img" src="https://cdn.discordapp.com/attachments/756312236904939544/1092036683467325540/A.png"> Home</a>
        <a class="nav-a" routerLink="/products"> <img class="nav-img" src="https://cdn.discordapp.com/attachments/756312236904939544/1092036683760947200/B.png"> Products</a>
        <a class="nav-a" routerLink="/gestion"> <img class="nav-img" src="https://cdn.discordapp.com/attachments/756312236904939544/1092036684046143549/C.png"> Gestion</a>
    </nav>
</header>
